/* Style the navigation menu */
.sidebar {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.sidebar #myLinks {
  display: none;
}

/* Style navigation menu links */
.sidebar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.sidebar a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.sidebar a:hover {
  background-color: #ddd;
  color: black;
}
  
 
  

@media only screen and (min-width: 940px){


.sidebar {
height: 100%;
width: 200px ; 
float: left;;
position: fixed;
left: 0;
top: 0;
padding-top: 10%;
background-color: rgb(49,36,80);
text-align: right;
}

.sidebar div {
padding: 8px;
font-size: 24px;
display: block;
}

.body-text {
margin-left: 150px;
font-size: 18px;
}

.sidebar a{
    color:white;
    border-bottom: 1px solid white;
    padding-left: 55px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    
    
  }

}