body{
    background: rgb(94,66,166)
}
.mainText{
    
        width: 200px;
        text-align: center;
         margin: auto;
    

   

} 
.hideOn{
    display: none;
}
.subText{
    
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 0.5em 0;
}
 .subText2{
     color: white;
 }   


button{
  
    background-color: rgb(94,66,166);
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.15);
    border-radius: 3em;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.6em;
    font-weight: bold;
    height: calc(4.75em + 2px);
    letter-spacing: 0.25em;
    line-height: 4.75em;
    outline: 0;
    padding: 5 5 1px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 10px;

}
button:hover {
    background-color: #271452; /* Green */
    color: white;
  }

  @media only screen and (min-width: 940px){
    .mainText {
        width: 200px;
        float: left;
        text-align: left;
        padding-left: 20%;
        padding-top: 5%;
        margin-left: 10px;
  }

  .hideOn{
    display: inline;
}
}

